@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  border-radius: 20px;
  background-image: url('background/background.png'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 20px 0px;
}

.calculator {
  max-width: 350px;
  min-height: 450px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 35px 45px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  background: linear-gradient(45deg, #23242A, #1A1B20);
  transition: transform 0.2s ease-in-out;
}
.calculator:hover {
  transform: scale(1.02);
}

.expression-display {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 35px 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #3D3F4A;
  overflow-y: hidden; 
  overflow-x: auto;
  position: relative; 
}

.expression-display #expression {
  width: 100%;
  font-size: 26px;
  color: #DEE1EF;
  font-weight: 400;
  text-align: center;
  padding: 0px 20px;
  letter-spacing: 4px;
}

.expression-display::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.expression-display::-webkit-scrollbar-thumb {
  background: #5A5D6C; 
  border-radius: 10px;
}

.expression-display::-webkit-scrollbar-thumb:hover {
  background: #7C808F;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.variables,
.operators,
.controls {
  width: 100%; 
  height: 75px;
  border-radius: 33px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  color: #DEE1EF;
}

.variables,
.operators {
  background: #5A5D6C;
}

.controls {
  background: #3D3F4A;
}

.variables:hover,
.operators:hover,
.controls:hover {
  transition: transform 0.2s ease-in-out;
  background-color: #454854;
  transform: scale(1.04);
}

.table-box {
  min-width: 350px;
  background-color: #23242A;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  overflow: auto;
}

.table-box h2 {
  color: #DEE1EF;
  margin-bottom: 20px;
}

#truth-table {
  width: 100%;
  border-collapse: collapse;
}

#truth-table th,
#truth-table td {
  border: 1px solid #989595;
  padding: 8px;
  text-align: center;
  color: #ffffff;
}

#truth-table th {
  letter-spacing: 4px;
  font-weight: bold;
}

#truth-table tr:nth-child(even) {
  background-color: #5A5D6C; 
}

#truth-table tr:nth-child(odd) {
  background-color: #464851;
}

#truth-table td {
  vertical-align: middle;
}